@charset "UTF-8"
/*Couleur-jaune-moutarde: #deb853 */
/* color-txt bleu vintage: rgba(10, 55, 58, 1); */

body, html {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
}
.container-fluid{
    padding: 0px;
    margin: auto;
}

a, a:hover {
    text-decoration: none;
}
.row{
    margin: 0;
}

/* HEADER*/
.header {
    background-color: #deb853;
    height: 80px;
    line-height: 70px;
}
.logo {
    color: rgba(10, 55, 58, 1);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 15px;
    float: left;
}
.logo:hover {
    color: #c8d0df;
}
.menu {
    float: right;
}

.menu a {
    color: rgba(10, 55, 58, 1);
    margin-right: 20px;
}
.menu a:hover{
    color: #c8d0df;
}

.menu i {
    font-size: 20px;
    color: rgba(10, 55, 58, 1);
}



/* Bannière */

.banner{
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.ban{
    width: 100%;
    max-width: 100%;
    position: relative;
}
.ban img {
    width: 100%;
    max-width: 100%;
}

.inner-banner{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;   
}
.inner-banner h1{
    color: #ffffff;
    text-shadow: 1px 1px 40px #000000;
}
.inner-banner h1{
    font-size: 44px;
}
.inner-banner p{
    color: #ffffff;
    font-size: 16px;
    margin-top: -30px;
}

.btn{
    background-color: #deb853;
    color: rgba(10, 55, 58, 1);
    font-size: 20px;

    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 10px;

    border: none;
    text-align: center;
    text-decoration: none;
}
.btn-shop:hover {
    padding: 10px 13px;

    background-position: right;
    background-color: #deb853;
    color: rgba(10, 55, 58, 1);

    transition-property: padding;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
    opacity: O.5;
}
.btn-accueil, .btn-remove{
    background-color: #deb853;
    color: rgba(10, 55, 58, 1);
    font-size: 20px;

    border-radius: 1px;

    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.totalRemove{
    margin-top: 100px;
}


.btn-accueil:hover, .btn-remove:hover {
    color: #ffffff;
    background-color: #c8d0df;

    transition-property: padding;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    opacity: O.5;
}

/*--Main--*/
.main-panier{
    margin: auto;
    text-align: center;
}


/*--PRODUIT--*/

.ligne-separatrice {
    width: 10%;
    height: 5px;
    border: none;
    box-shadow: none;
    background-color: #deb853;
}

.article {
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    
    transform: scale(1);
    transition: transform 500ms ease-in-out;
}
.article:hover{
    transform: scale(1.01);
}

.article-product{
    text-align: center;
    margin-top: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}


table ion-icon{
    font-size: 25px;
    color: #deb853;
    cursor: pointer;
}

.produit {
    text-align: center;
    text-transform: uppercase;
}


#productInfos{
    display: flex;
}

article span{
    display: block;
    color: #deb853;
    font-size: 20px;
    margin-top: 10px;
}

article img{
    width: 100% ;
    max-width: 100%;
    height: auto;
    
}


/*-- FOOTER --*/
footer{
    background-color: #deb853;
    color: rgba(10, 55, 58, 1);
    height: 125px;
    text-align: center;
}
footer div{
    display: flex;
    justify-content: center;
}
ion-icon{
    font-size: 30px;
    margin: 5px;
    color: #000000;
}
ion-icon:hover{
    font-size: 33px;
}

/*-- Page article --*/
productPrice{
    background-color: #deb853;
    color: black;
    width: 100%;
    max-width: 100%;
    display: inline-flex;
}


/*-Page produit-*/
.banner-product{
    width: 100%;
    max-width: 100%;
    margin-bottom: 100px;
    top: 30%;
    width: 100%;
    text-align: center;   
}

.productUnit{
    display: flex;
}

#bloc-produit{
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
}
.bloc-produit p{
    color: #000000;
}

.btn-produit{
    margin: 2rem;
}
.btn-produit{
    font-size: 15px;
    margin-left: 10px;

}

#addToCart {
    width: 30%;
    height: 300px;
    background-color: #fafafa;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -400px;
    left: 35%;
    transition: 0.5s ease-in-out;
}
#addToCart > div {
    display: flex;
    flex-direction: column;
    
}

/*-- page panier --*/
.main-panier {
    width: 60%;
    
}


#table, #total {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
    border: solid 2px #c8d0df;
  } 
th, td {
    border: solid 1px #c8d0df;
    padding: 10;
}

.imagesPanier{
    width: 20%;
    max-width: 100%;
    float: left;
}

.icon-inner{
    margin-top: 5px;
}

.totalRemove{
    margin: 2rem;
}



/*-- Page confirmation--*/
.footer__confirmation{
    margin-top: 470px;
}

#error{
    font-size: larger;
    color: brown;
}
.img-confirmation {
    width: 100%;
    max-width: 100%;
}




#main #textForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #main #textForm::before {
    border-top: solid 2px #b6b6b6;
    content: "";
    display: inline-block;
    width: 20%;
    margin: 0 0 1rem 0;
  }
  #main #form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
  }
  #main #form input {
    width: 90%;
    height: 2rem;
    border: solid #deb853 2px;
    margin: 2rem 0 0 0;
  }
  @media all and (min-width: 981px) {
    #main #form {
      width: 80%;
      margin: auto 10%;
    }
  }
  #main #form textarea {
    width: 90%;
    margin: 2rem 0 0 0;
    border: solid #deb853 2px;
  }
  #main #form  #submit {
    width: 50%;
    border: none;
    height: auto;
    margin: 2rem 0 2rem 0;
    line-height: 3.25rem;
    background-color: #deb853;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
  }
  #main #form #submit:hover {
    background-color: #c8d0df;
    color: #ffffff;
  }


    @media only screen and (min-width: 768){


    }
    
    @media all and (max-width: 992px){ 
        body{
            margin: auto;
            width: auto;
            text-align: center;
        }
        .header{
            width: auto;
        }
        nav{
            width: auto;
        }
        nav > .produit-lien {
            display: none;
        }

        .ban {
            width: auto;
        }    
        .inner-banner > h1 {
            font-size: 2rem;
        }
        .inner-banner > button {
            display: none;
        }

        main{
            margin: auto;
        }
        table{
            margin: auto;
            display: flex;   
        }
        thead tr {
            display: flex;
        }

        #productInfos{
            display: flex;
            flex-direction: column-reverse;
        }

        article img{
            width: 100% ;
            max-width: 100%;            
        }

        footer{
            margin-top: 20px;
        }
        
    }